.Standard-Text-Style {

    color: #F7F7F7;
    font-family: Arial, Helvetica, sans-serif;
    
}

.Home-Button {

    background-color: transparent;
    border: none;
    grid-column-start: 1;
    grid-row-start: 1;

}

.Home-Button-Image {

    width: 50px;
    margin: 10px;
    
}

.Department-Page-Title {

    grid-column-start: 2;
    grid-row-start: 1;
    font-size: 40px;
    margin-left: 18px;

}