/* Defines A Page-Wide Grid For Sub-Element Placement */
.Production-Page-Grid {

    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(15, 1fr);
    
}

/* Production Page Buttons */
.New-Production-Report-Button {

    width: 150%;
    grid-column-start: 2;
    grid-row-start: 11;
    align-self: start;
    justify-self: start;
    background-color: transparent;
    border: none;
    padding: 0;

}  