/* Defines A Page-Wide Grid For Sub-Element Placement */
.New-Production-Report-Page-Grid {

    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(15, 1fr);
    
}   